html,
body {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Kollektif";
  src: url('./Kollektif.ttf');
}

:root {
  /* generic */
  --blue: #18A0FB;
  --gutterSm: 0.2rem;
  --gutterMd: 0.4rem;
  --gutterLg: 1.2rem;
  --gutterXl: 1.2rem;
  --gutterXx: 3.2rem;
  --colorPrimary400: #7e57c2;
  --colorPrimary600: #5e35b1;
  --colorPrimary800: #4527a0;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 0.6rem;
  --fontSizeMd: 0.8rem;
  --fontSizeLg: 1.7vw;
  --fontSizeXl: 1.4rem;
  --fontSizeXx: 1.8rem;
  --lineHeightSm: 0.5;
  --lineHeightMd: 0.9;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeLg);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 50%;
  --labelTransformedPosY: calc((var(--labelDefaultPosY)) - (var(--inputPaddingV) * var(--labelScaleFactor)) - (var(--inputFontSize) * var(--inputLineHeight)));
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: 'Kollektif', 'Serif';
}

h1 {
  text-align: center;
  font-size: 4vw;
  margin-top: 2%;
  margin-bottom: 2%;
}

h2 {
  padding-bottom: 2%;
  font-size: 2.3vw;
}

h3 {
  text-align: center;
}

html {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  font-family: 'Kollektif', 'Serif';
  padding-left: 2%;
}

.app,
.single-file {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.input {
  position: relative;
  width: 60%;
  margin-bottom: 1%;
  margin-top: 1%;
}

.input-text {
  display: block;
  margin: 0;
  padding: var(--inputPaddingV) var(--inputPaddingH);
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
  color: rgba(66, 66, 66, 0.8);
}

.input-text::placeholder {
  color: #B0BEC5;
}

.input-label {
  display: block;
  position: absolute;
  bottom: 50%;
  left: 0.6rem;
  color: #fff;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  opacity: 0;
  transform:
    translate3d(0, var(--labelDefaultPosY), 0) scale(1);
  transform-origin: 0 0;
  transition:
    opacity var(--inputTransitionDuration) var(--inputTransitionTF),
    transform var(--inputTransitionDuration) var(--inputTransitionTF),
    visibility 0ms var(--inputTransitionDuration) var(--inputTransitionTF),
    z-index 0ms var(--inputTransitionDuration) var(--inputTransitionTF);
}

.input-text:placeholder-shown+.input-label {
  visibility: hidden;
  z-index: -1;
}

.fake-button,
buttonp {
  padding: 0.6em 2em;
  margin-top: 2vh;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 1%;
  margin-top: 4vh;
}

.fake-button:before,
buttonp:before {
  content: "";
  background: linear-gradient(45deg,
      #fe0101,
      #fe7401,
      #fefa01,
      #47fe01,
      #00fed5,
      #002cff,
      #7902ff,
      #fe02c8,
      #fe0101);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  color: #fff;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.fake-button:after,
buttonp:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  color: #fff;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: all 0.7s ease-in-out;
}

.fake-button:hover::after,
buttonp:hover::after {
  background: rgba(22, 22, 22, 0.3);
  color: #fff;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 2px;
}

.input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--colorPrimary600);
}

.input-text:not(:placeholder-shown)+.input-label,
.input-text:focus:not(:placeholder-shown)+.input-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform:
    translate3d(0, var(--labelTransformedPosY), 0) scale(var(--labelScaleFactor));
  transition:
    transform var(--inputTransitionDuration),
    visibility 0ms,
    z-index 0ms;
}

.gradient-wrapper {
  display: flex;
  flex-direction: row;
  border: none;
  position: relative;
  padding: 3vh !important;
  padding-top: 0vh !important;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(90deg, var(--blue) 0%, rgba(24,160,251,1) 50%, var(--blue) 100%);
  /* background: linear-gradient(45deg, #c859ff 0%, #ffab8c 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c859ff', endColorstr='#ffab8c', GradientType=1);
  /* -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); */
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  width: 55%;
  margin: auto;
  margin-top: 2%;
  border-radius: 2vh;
}

.top-right-corner {
  position: absolute;
  top: 3vw;
  right: 3vw;
}

.transcript-management {
  border: none;
  position: relative;
  padding: 4vh;
  margin-left: -2vw !important;
  padding-left: 8vh;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  /* background: #c859ff; */
  background: -webkit-linear-gradient(45deg, #c859ff 0%, #ffab8c 100%);
  /* background: linear-gradient(45deg, #c859ff 0%, #ffab8c 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c859ff', endColorstr='#ffab8c', GradientType=1);
  /* -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); */
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  width: 30%;
  border-radius: 2vh;
  overflow: auto;
  min-height: 63vh;
  max-height: 63vh;
}

.dashboard {
        display: flex;
    } 

.bubbles {
  width: auto;
  height: auto;
}

svg {
  max-width: 70vw;
  height: auto;
}

.nav {
  gap: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3vw;
}

.navbtn {
  font-size: 1.3vw
}

.nav.left {
  margin-right: auto !important;
}

.flex {
  display: flex !important;
}

.bigheader {
  height: 10%;
}

.tenpercent {
  width: 10vw
}

.fifteenpercent {
  width: 12vw
}

.foot {
  padding-bottom: 3vh;
}

.Mainimg {
  width: 100vw;
  z-index: 0;
  max-width: 100%;
  height: 90vh;
  overflow-x: hidden;
}

.page {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

*::-webkit-scrollbar {
  display: block;
  width: 16px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #00000000;
}

*::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

body {
  overflow: overlay;
}

*:hover, *:focus, *:focus-within {
  --scrollbar-color: #00000040 !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border: 5px solid transparent;
  border-radius: 24px;
  box-shadow: 4px 0px 0px 4px var(--scrollbar-color) inset;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color);
  border: 0px solid transparent;
  box-shadow: none;
}

.main-text, .join-button, .join {
  vertical-align: middle;
  width: fit-content;
  margin: auto;
  text-align: center;
  z-index: 2;
}

.join {
  margin-top: -35vh;
  margin-bottom: 20vh;
}

.main-text {
  font-size: 3.5vw;
  margin-bottom: 5vh;
}

.join-button {
  margin-top: 5vh;
  font-size: 1.4vw;
}

.create-text {
  font-size: 2.1vw;
  padding-bottom: 2.1vh;
  padding-left: 4vw;
}

.para {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-left: -2vw;
  vertical-align: auto;
  padding-left: 2vw;
}

.para-img {
  width: 42.5vw;
  margin: auto;
}

.para-with-subtext {
  width: 42.5vw;
  margin: auto;
}

.subtext {
  font-size: 2.1vw;
  padding-bottom: 2vh;
}

.para.right, .para.left{
  padding-bottom: 5vh;
  padding-top: 5vh;
  padding-right: 3vw;
}

.para.left{
  background-color: #eee;
}

.final-join {
  font-size: 2.1vw;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  vertical-align: auto;
  padding-left: 5vw;
  margin-left: -2vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #eee;
}

.buttons {
  display: flex;
  flex-direction: row;
  vertical-align: auto;
}

.loginbtn, .registerbtn {
  padding-right: 5vw;
  height: fit-content;
  text-align: center;
  vertical-align: centerl;
  margin: auto;
}

.footer-text {
  font-size: 0.9vw;
  text-align: right;
}

html {
  scroll-behavior: smooth;
 }

.centered {
  vertical-align: auto;
  margin: auto;
  text-align: center;
  padding-left: 0!important;
  padding-bottom: 0!important;
}

.dev-bios {
  background-color: var(--dark-bg-color);
  color: #000;
  width: 80vw;
  margin: auto;
}

.dev-bios h1 {
  text-align: center;
  font-size: 4.0vw;
}

.dev-bios .accent {
  border: 0px solid var(--accent-color);
  padding: 5px 0 6px 0;
}
.dev-bios .accent.left {
  border-left-width: 10px;
  padding-left: 10px;
}
.dev-bios .accent.right {
  border-right-width: 10px;
  padding-right: 10px;
  text-align: right;
}

.dev-bios a {
  text-decoration: none;
}

.dev-bios .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}

.dev-bios .card {
  width: 80%;
  max-width: 280px;
  min-width: 250px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: .75em;
  margin: 1rem;
  border-radius: 25px;
  background-color: #fff;
  color: #000;
}

.dev-bios .card:hover {
  transform: scale(1.04);
  transition: all 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.dev-bios .member-img {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: double 4px transparent;
  background-image: linear-gradient(white, white),
  	linear-gradient(90deg, #833ab4, darkblue, blue, aqua);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.dev-bios .member-name, .member-position {
  text-align: center;
}

.dev-bios .member-position {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: small;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 1vh;
}

.dev-bios .member-name {
  padding: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0;
}

.dev-bios .member-position div {
  padding-inline: 0.15em;
  margin-inline-end: 0.5em;
  margin-top: 0.5vh;
  border-radius: 5px;
  background-color: rgba(4, 0, 255, 0.35);
  color: rgba(4, 0, 255, 1);
  white-space: nowrap;
}


.dev-bios .socials {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  margin-top: 0.75em;
  padding: 0;
  width: 30px;
}

.dev-bios .social-wrapper .button {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.dev-bios .social-wrapper .button:hover {
  width: 140px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.dev-bios .social-wrapper .button .social-icon {
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

.dev-bios .social-wrapper .button1:hover .social-icon {
  background: #5865f2;
}

.dev-bios .social-wrapper .button2:hover .social-icon {
  background: #333;
}

.dev-bios .social-wrapper .button3:hover .social-icon {
  background: #0072b1;
}

.dev-bios .social-wrapper .button .social-icon i {
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.dev-bios .social-wrapper .button:hover .social-icon i {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
.dev-bios .social-wrapper .button span {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 5px;
}

.dev-bios .social-wrapper .button1 span {
  color: #5865f2;
}
.dev-bios .social-wrapper .button2 span {
  color: #333;
}
.dev-bios .social-wrapper .button3 span {
  color: #0072b1;
}

label {
  box-sizing: border-box;
}

.PrivacyPage {
  max-width: 70%;
  margin: auto;
}

.HeroSection {
  height: 90vh;
}

.para-text {
  font-size: 1.8vw;
  text-align: left;
  margin-left: 0;
  width: auto;
}

#Login:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 0.25vh;
  height: 90%;
  top: 1.5vh;
  left: 49.75%;
  display: block;
  background-image: -webkit-gradient(linear, left, right, from(rgba(255, 255, 255,1)), to(rgba(255, 255, 255, 0)), color-stop(.5,#333333))
}

#Login, #Register{
  min-width: 50%;
}

#loginHead{
  margin-top: 0vh;
}

.Dashboard.page {
  min-height: 98vh;
}

.transcriptContainer{
  overflow-y: scroll;
  height: 40vh;
}

#tm{
  margin-top: 0vh !important;
}

#feature{
  font-size: 3vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 2.6vw;
  padding-right: 3vw;
}

.newbtn {
  appearance: none;
  background-color: transparent;
  border: 0.5vh solid var(--blue);
  border-radius: 2.5vh;
  box-sizing: border-box;
  color: var(--blue);
  cursor: pointer;
  display: inline-block;
  padding: 1vh 2vh;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.newbtn:disabled {
  pointer-events: none;
}

.newbtn:hover {
  color: #fff;
  background-color: var(--blue);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.newbtn:active {
  box-shadow: none;
  transform: translateY(0);
}

.newbtni {
  appearance: none;
  background-color: var(--blue);
  border: 0.5vh solid var(--blue);
  border-radius: 2.5vh;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 1vh 2vh;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.newbtni:disabled {
  pointer-events: none;
}

.newbtni:hover {
  color: var(--blue);
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.newbtni:active {
  box-shadow: none;
  transform: translateY(0);
}

.link{
  color: var(--blue);
  cursor: pointer;
}

.newbtni.log, .newbtni.reg{
  max-width: 10vw;
  border-color: white;
}

#ModalModal{
  justify-content: center;
  text-align: center;
  margin: auto;
  float: none;
  overflow: hidden;
}
