@font-face{
    font-family: "Kollektif";
    src: url('./Kollektif.ttf');
}
* {
    font-family: 'Kollektif', 'Serif';
}
h1 {
    text-align: center;
    font-size: 75px;
}

h3{
    text-align: center;
}

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: azure;
}
input{
    font-family: 'Kollektif', 'Serif';
    padding-left: 2%;
}
#C {
    visibility: hidden;
}